@page
@model Przepisy_kulinarne_projekt.Pages.AddARecipe.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Dodaj nowy przepis<br /></h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Recipe.RecipeName" class="control-label"></label>
                <input asp-for="Recipe.RecipeName" class="form-control" />
                <span asp-validation-for="Recipe.RecipeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recipe.Ingredients" class="control-label"></label>
                <input asp-for="Recipe.Ingredients" class="form-control" />
                <span asp-validation-for="Recipe.Ingredients" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recipe.Steps" class="control-label"></label>
                <input asp-for="Recipe.Steps" class="form-control" />
                <span asp-validation-for="Recipe.Steps" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Wróć do listy przepisów</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
