@page
@model Przepisy_kulinarne_projekt.Pages.AddARecipe.DeletePhotoModel
@{
    ViewData["Title"] = "Usuwanie zdjęcia";
}
<link href="~/css/table.css" rel="stylesheet" />
<link href="~/css/buttonprzepis.css" rel="stylesheet" />

<h3>Czy jesteś pewny, że chcesz usunąć to zdjęcie?</h3>
<div class="mb-5">
    <hr />
    @if (Model.Photo.Link != null)
    {
        <img src="@Model.Photo.Link" style="width:200px;height:200px;" />
    }
    else if (Model.Photo.Path != null)
    {
        <img src="~/images/@Model.Photo.Path" style="width:200px;height:200px;" />
    }
    else
    { }
    <form method="post">
        <input type="hidden" asp-for="Photo.Id" />
        <input type="submit" value="Usuń" class="myButton2" />
    </form>
</div>
