@page
@model Przepisy_kulinarne_projekt.Pages.AddARecipe.EditModel

@{
    ViewData["Title"] = "Edycja";
}

<h1>Edycja przepisu</h1>

<hr />
<h4>Przepis</h4>
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <input hidden asp-for="Photo.Path" />
            <input hidden asp-for="Recipe.Id" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Recipe.Id" />
            <div class="form-group">
                <label asp-for="Recipe.RecipeName" class="control-label"></label>
                <input asp-for="Recipe.RecipeName" class="form-control" />
                <span asp-validation-for="Recipe.RecipeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recipe.Ingredients" class="control-label"></label>
                <input asp-for="Recipe.Ingredients" class="form-control" />
                <span asp-validation-for="Recipe.Ingredients" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recipe.Steps" class="control-label"></label>
                <input asp-for="Recipe.Steps" class="form-control" />
                <span asp-validation-for="Recipe.Steps" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Dodaj zdjęcie z komputera</label>
                <div class="custom-file">
                    <input asp-for="Picture" class="custom-file-input" id="customFile" />
                    <label class="custom-file-label" for="customFile">Wybierz plik</label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Dodaj zdjęcie jako link</label>
                <input asp-for="Photo.Link" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Wróć do listy przepisów</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript">
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
</script>
}
