@page
@model Przepisy_kulinarne_projekt.Pages.AddARecipe.MinusModel
<link href="~/css/rateit.css" rel="stylesheet" />
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
@{
    ViewData["Title"] = "Ocena na minus";
}


<div>
    <form method="post">
        <td>
            <div class="center">
                <p>
                </p><div class="input-group">
                    <span class="input-group-btn">
                        <button type="submit" value="first" class="btn btn-danger btn-number" data-type="minus" data-field="quant[2]" onclick="changeRatingValue(false)">
                            <span class="glyphicon glyphicon-minus"></span>
                        </button>
                    </span>
                </div>
            </div>
        </td>
    </form>
</div>
