@page
@model Przepisy_kulinarne_projekt.Pages.AddARecipeCategory.DeleteModel

@{
    ViewData["Title"] = "Delete";
}
<link href="~/css/table.css" rel="stylesheet" />
<link href="~/css/buttonprzepis.css" rel="stylesheet" />

<h1>Czy na pewno chcesz usunąć powiązanie?</h1>
<div class="text-center">
    <form method="post">
        <input type="hidden" asp-for="RecipeCategory.Id" />
        <input type="submit" value="Usun" class="myButton2" />
    </form>
</div>
