@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Potwierdzenie zresetowania hasła";
}

<h1>@ViewData["Title"]</h1>
<p>
    Sprawdź skrzynkę mailową. Otrzymałeś/aś wiadomość z linkiem do zmiany twojego hasła na nowe.
</p>

