@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Potwierdzenie zresetowania hasła";
}
<link href="~/css/table.css" rel="stylesheet" />
<link href="~/css/karty.css" rel="stylesheet" />

<h1>@ViewData["Title"]</h1>
<p>
    Sprawdź skrzynkę mailową. Otrzymałeś/aś wiadomość z linkiem do zmiany twojego hasła na nowe.
</p>

