@page
@model LogoutModel
@{
    ViewData["Title"] = "Wylogowano";
}
<link href="~/css/table.css" rel="stylesheet" />
<link href="~/css/karty.css" rel="stylesheet" />

<header>
    <h1>@ViewData["Title"]</h1>
</header>