@page
@model Przepisy_kulinarne_projekt.Pages.AddACategory.DeleteModel

@{
    ViewData["Title"] = "Delete";
}
<link href="~/css/table.css" rel="stylesheet" />

<h1>Czy na pewno chcesz usunąć kategorię?</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Category.Id" />
        <input  type="submit" value="Usun" class="myButton2" /> |
        <a style="color: #1073b5;" asp-page="./Index">Wroc do listy kategorii</a>
    </form>
</div>
