@page
@model Przepisy_kulinarne_projekt.Pages.AddACategory.IndexModel

@{
    ViewData["Title"] = "Kategorie";
}
@inject SignInManager<IdentityUser> SignInManager
<link href="~/css/table.css" rel="stylesheet" />
<link href="~/css/buttonprzepis.css" rel="stylesheet" />

<h1>Wykaz kategorii</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category[0].CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Category)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                @if (SignInManager.IsSignedIn(User))
                {
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id"><button type="button" class="myButton1">Zmień nazwę</button></a>
                <a asp-page="./Delete" asp-route-id="@item.Id"><button type="button" class="myButton2">Usuń kategorię</button></a>
            </td>
                }
            </tr>
        }
    </tbody>
</table>
<p>
    <h4>Nie ma kategorii, która cię interesuje?</h4></br>
    <a asp-page="./Create" ><button type="button" class="myButton1">Dodaj nową kategorię</button></a>
</p>

