@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>

</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class="nav-link text-dark" asp-area="" asp-page="/AddARecipe/Index"><button type="submit" class="btn btn-secondary">Wszystkie przepisy</button></a>
    <a class="nav-link text-dark" asp-area="" asp-page="/AddARecipe/Create"><button type="submit" class="btn btn-secondary">Dodaj przepis</button></a>
    <a class="nav-link text-dark" asp-area="" asp-page="/AddACategory/Index"><button type="submit" class="btn btn-secondary">Zarządzanie kategoriami</button></a>
    <a class="nav-link text-dark" asp-area="" asp-page="/AddARecipeCategory/Index"><button type="submit" class="btn btn-secondary">Kategorie z przepisami</button></a>

</div>
